/* Reset some default browser styles */
h1, h2, h3, h4, h5, h6, ul, ol, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
    text-align: center;
}

/* Set the font size and line height for the paragraphs */
p {
    font-size: 16px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

/* Set a background color and font for the body */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #185029;
    line-height: 1.6;
    padding: 20px;
}

/* Style the header */
header {
    background: rgb(57, 57, 124);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Style the navigation menu */
nav ul {
    display: flex;
    justify-content: center;
    background: #140c31;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
}

/* Style the main content area */
main {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the footer */
footer {
    background: #140c31;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*Style the button */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Slideshow*/
#pick-image {
    opacity: 1;
    transition: opacity 1s ease;
}

#pick-image.hide {
    opacity: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack nav links vertically */
        align-items: center;
    }

    body {
        padding: 10px;
    }
}
